.container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1.5rem;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   background-color: #f4f6f8;
}

.site_header {
  background-color: navy;
  color: white;
  padding: 1rem 2rem;
}

.site_header h1 {
  margin: 0;
}